:root {
  --main-bg-color: #070707;
  --main-text-color: #f7f7f7;
  --alt-bg-color: #fffbe4;
  --header-height: 12vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #070707;
  width: 100%;
  margin: auto;
  overscroll-behavior: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4vh 2rem;
  height: 12vh;
}

.Logo {
  width: 100px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.nav-links {
  list-style: none;
  mix-blend-mode: difference;
}
.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}
h1 {
  font-family: Helvetica-Neue, Helvetica, sans-serif;
  font-size: 144px;
  font-weight: 400;
  text-transform: uppercase;
  color: #f7f7f7;
  line-height: 110%;
}
h3 {
  font-family: Helvetica-Neue, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
}
p {
  font-family: Helvetica-Neue, Helvetica, sans-serif;
  font-size: 16px;
  color: #f7f7f7;
}
li,
a,
button {
  font-family: Helvetica-Neue, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #f7f7f7;
  text-decoration: none;
  text-transform: capitalize;
}
a:active {
  color: #070707;
  mix-blend-mode: difference;
}
.burger {
  display: none;
}
.burger div {
  width: 40px;
  height: 5px;
  background-color: #f7f7f7;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .wrapper {
    overflow-x: hidden;
    position: relative;
  }
  header {
    padding: 1rem;
  }
  .nav-links {
    position: absolute;
    width: 90%;
    right: 0;
    height: 100vh;
    top: 0;
    position: fixed;
    background-color: #070707;
    border-left: 2px solid #f7f7f7;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    mix-blend-mode: normal;
    z-index: 2;
  }
  .nav-links li a {
    color: #f7f7f7;
    font-size: 40px;
  }
  .nav-links li {
    opacity: 0;
    padding: 20% 10% 0%;
  }

  .burger {
    display: block;
    z-index: 2;
  }

  button {
    background-color: #f7f7f7;
    color: #fffaf0;
  }
}
.nav-active {
  transform: translateX(0%);
}
.burger-color {
  background-color: #e92933 !important;
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  position: fixed;
  transform: rotate(-45deg) translate(-5px, 6px);
  background-color: #f7f7f7;
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  position: fixed;
  transform: rotate(45deg) translate(-5px, -5px);
  background-color: #f7f7f7;
}

/* BODY STYLING */

.hero {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 0 2rem;
  position: absolute;
  top: 12vh;
  left: 0;
}
.logo-large {
  width: 100%;
  height: 100vh;
  flex-shrink: 0;
  object-fit: cover;
  position: sticky;
  top: 0;
}

.featured {
  height: 100vh;
  width: 100%;
  flex-shrink: 0;
  object-fit: cover;
  position: sticky;
  top: 0;
  background-color: #fffaf0;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  padding: 2rem 3rem;
}

.featured .image-container {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featured-text {
  grid-row-start: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.featured-text p {
  color: #070707;
}
.about {
  height: 100vh;
  width: 100%;
  flex-shrink: 0;
  object-fit: cover;
  position: sticky;
  top: 0;
  background-color: #070707;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem 2rem;
}

.about-text {
  font-family: Helvetica-Neue, Helvetica, sans-serif;
  font-size: 64px;
  color: #f7f7f7;
  line-height: 120%;
  text-transform: uppercase;
}
.about-text a {
  text-decoration: underline;
  cursor: pointer;
}
.label {
  font-family: Helvetica-Neue, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: lighter;
  color: #f7f7f7;

  text-transform: uppercase;
}

.disclaimer {
  height: 100vh;
  width: 100%;
  flex-shrink: 0;
  object-fit: cover;
  position: sticky;
  top: 0;
  background-color: #fffaf0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.disclaimer p {
  color: #070707;
  text-align: center;
}
.disclaimer-text > h1 {
  text-decoration: underline;
  text-align: center;
}

.headline {
  font-family: Helvetica-Neue, Helvetica, sans-serif;
  font-size: clamp(1rem, 10vw, 10rem);
  font-weight: 400;
  text-transform: uppercase;
  color: #070707;
}
@media screen and (max-width: 768px) {
  .hero {
    position: relative;
    top: 0;
    padding: 0;
  }

  .featured {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    gap: 2rem;
  }

  .featured-text p {
    font-size: 8px;
  }
  .about,
  .logo-large {
    padding: 2rem 1rem;
  }
  .about-text {
    font-size: 32px;
  }
  .disclaimer {
    padding: 1rem;
  }
  .disclaimer-text h1,
  .disclaimer-text p {
    text-align: center;
  }
}

/* FOOTER STYLES */

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #070707;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* gap: 2rem; */
  width: 100%;
}

.adress,
.contact-info {
  color: #f7f7f7;
}

@media screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
  }
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(12vh + 5rem);
  padding: 1rem;
}

.container h1 {
  color: #f7f7f7;
  mix-blend-mode: difference;
  position: fixed;
  top: 12vh;
  left: 1rem;
  font-size: clamp(3rem, 10vw, 9rem);
}
.text {
  width: clamp(700px, 50%, 70%);
}

/* Sub header */

.sub-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2rem;
}

.change-style {
  display: flex;
  flex-direction: row;
}

.style {
  font-family: Helvetica-Neue, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #f7f7f7;
  text-decoration: none;
  text-transform: capitalize;
  padding: 22px 20px 10px 0;
}

.style-button {
  background-color: #070707;
  color: white;
  cursor: pointer;
  padding: 10px;
  border: none;
}
.style-button:hover {
  text-decoration: underline;
}

.active-style {
  text-decoration: underline;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

/* Main content articles */

#main-content {
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto;
}

#metadataviewer {
  height: 100vh;
  width: 20vw;
  background-color: white;
  overflow-y: scroll;
}

#info-box {
  margin: 1em;
  padding: 1em;
  background-color: #f1f1f1;
}

#info-box p {
  color: black;
  line-height: 2em;
}

.collapsible {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 1.5em;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.content {
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  color: black;
}

.content p {
  color: black;
  padding: 10px 10px 10px 30px;
}

.content a {
  color: #55f;
  cursor: pointer;
  font-size: 1em;
}

.tooltip {
  color: white;
}

#currentArticle {
  height: 100vh;
  overflow-y: scroll;
}

html {
  scroll-behavior: smooth;
}
