body,
html {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-size: 18px;
}

.articleContainer {
  padding: 100px;
  background-color: #006fb4;
  line-height: 1.6em;
  font-family: franklin-gothic-atf, sans-serif;
}

.contentContainer {
  column-count: 3;
}

.articleContainer img {
  width: 20vw;
}

.articleContainer figure {
  margin: 1.6em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.articleContainer figcaption {
  font-size: 0.625em;
}

.articleContainer h1,
h2 {
  font-family: franklin-gothic-atf, sans-serif;
  font-style: normal;
  font-weight: 600;
}

.articleContainer h1 {
  color: #f2fd40;
  font-size: 7em;
  line-height: 1em;
  text-transform: lowercase;
  text-align: justify;
  text-align-last: justify;
}

.articleContainer .info > p {
  text-align: center;
  text-align-last: center;
}

.articleContainer q, blockquote {
  font-style: italic;
  font-weight: 700;
  font-size: 1.2em;
  color: #f495cc;
  font-family: franklin-gothic-atf, sans-serif;
}

.quotePerson {
  text-align: end;
  color: #f2fd40;
  font-size: 1em;
  font-style: italic;
  font-weight: 700;
  font-family: franklin-gothic-atf, sans-serif;
}

.quotePerson:before {
  content: "-";
  margin-right: 6px;
}

#headline {
  text-transform: uppercase;
  color: white
}

/* Cover */

.coverContainer {
  color: white;
}

.issue-name {
  color: #f495cc;
  text-transform: lowercase;
  font-family: "Homemade apple", arial, serif;
  margin-left: 30px;
}

.issue-name:after {
  content: "!";
  color: #f495cc;
  font-family: "Homemade apple", arial, serif;
}

.headlinContainer {
  margin-bottom: 100px;
}

.link-to-page {
  margin-bottom: 50px;
  cursor: pointer;
}

#article-one {
  text-transform: uppercase;
  color: #f2fd40;
  font-weight: 900;
  font-size: 2em;
}

#float-r {
  float: right;
  width: 300px;
}

#article-two {
  text-transform: capitalize;
  font-style: italic;
  color: #f495cc;
  font-weight: 700;
}

#article-three {
  text-transform: uppercase;
  color: #f2fd40;
  font-weight: 900;
  font-size: 2.5em;
}