body,
html {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-size: 18px;
}

.articleContainer {
  padding: 100px;
  background-color: #006fb4;
  line-height: 1.6em;
  font-family: franklin-gothic-atf, sans-serif;
}

.contentContainer {
  column-count: 3;
}

img {
  width: 20vw;
}

figure {
  margin: 1.6em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

figcaption {
  font-size: 0.625em;
}

h1,
h2 {
  font-family: franklin-gothic-atf, sans-serif;
  font-style: normal;
  font-weight: 600;
}

h1 {
  color: #f2fd40;
  font-size: 7em;
  line-height: 1em;
  text-transform: lowercase;
  text-align: justify;
  text-align-last: justify;
}

h2 {
}

p {
}

.info > p {
  text-align: center;
  text-align-last: center;
}

q {
  font-style: italic;
  font-weight: 700;
  font-size: 1.2em;
  color: #f495cc;
  font-family: franklin-gothic-atf, sans-serif;
}

.quotePerson {
  text-align: end;
  color: #f2fd40;
  font-size: 1em;
  font-style: italic;
  font-weight: 700;
  font-family: franklin-gothic-atf, sans-serif;
}

.quotePerson:before {
  content: "-";
  margin-right: 6px;
}
