@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Righteous&family=Space+Mono&family=UnifrakturMaguntia&display=swap');
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  box-sizing: border-box;
 
}

h1,h2,h3,h4, .articleContainer p{
    font-family: 'Space Mono', monospace;
    color: #070707;
    line-height: .8em;
    position: relative;
    z-index: 1;
    
}

h1{
    font-family:'UnifrakturMaguntia', cursive;
    ;
    font-size:8rem;
    margin-bottom: 5vh;
    text-transform: capitalize;
    text-align: justify;
    position: relative;
    letter-spacing: -6px;
    z-index: 1;
    color:#5af6a3;
    margin:-1rem;
    padding: 2rem;
    background-color: #074524;
}
.link-to-page a{
    font-size: 5rem;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    margin-bottom: 5vh;
    text-transform: uppercase;
    line-height: 1em;
    
}




.articleContainer p {
    
    font-size: 24px;
    margin-bottom: 1rem;
    width: 50%;
}




.info {
    padding: 20px 0;
position: relative;

}
.info p {
    font-size: 3rem;
    width: 100%;
    text-transform: uppercase;
    text-align: right;
}

.info p:last-of-type{
    margin-top: 5vh;
}






.articleContainer {
    padding:1rem 1rem;
    position: relative;
    background-color: #FD5A23;
  }

}
 .articleContainer  p {
    color: #070707;
    line-height: 1em;
    font-size: 48px;



    
   
}
.contentContainer {
    position: relative;   
    margin-top: 5vh; 
    position: relative;
    z-index: 1;
}


.articleContainer img {
    position: relative; /* make child elements move relative to this parent */
    width: 50%;
    object-fit: cover;
}


  
  .articleContainer figure {
    width: 100%;
    margin: 1.6em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 2rem;

  }
  
  .articleContainer figcaption {
    font-size: 0.625em;
  }

.hero_image {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
   
}
.hero_image img {
    width: 100%;
    height: 500px;    
    border-radius: 100%;
    z-index: -1;
}
  

figcaption {
    font-size: 0.625em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }

  ::selection {
    color: #5af6a3;;
    background: #074524;
  }

blockquote {
    margin: 1em 1rem;
    padding: 1rem 1rem;
    font-size: 6rem;
    font-family:'UnifrakturMaguntia', cursive;
    font-weight: 600;
    color: #5af6a3;
    text-align: center;
    margin: 1rem -1rem ;
    
}
 blockquote  {
    background-color: #a2a2a1;
 }

 .coverContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    justify-items: center;
    align-content: center;
 }
 .coverContainer  h1{
    font-size: 10rem;
    
 }

.coverContainer div:nth-of-type(1) {
    width: 100%;
    grid-column-start: 1 ;
    grid-column-end: 3;
    background-color: #074524;
    display: flex;
    grid-row-start: 1 ;
    grid-row-end: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
 }
 .coverContainer div:nth-of-type(2) {
    width: 100%;
    grid-column-start: 1 ;
    grid-column-end: 2;
    grid-row-start: 2 ;
    grid-row-end: 3;
    display: flex;
    justify-content: flex-start;
    align-items:  flex-start;
    flex-direction: column;
    padding: 1rem;
    background-color:#EB3832;
 }
 .coverContainer div:nth-of-type(3) {
    width: 100%;
    grid-column-start: 2 ;
    grid-column-end: 3;
    grid-row-start: 2 ;
    grid-row-end: 3;
    background-color: #a2a2a1;
    display: flex;
    justify-content: flex-start;
    align-items:  flex-start;
    flex-direction: column;
    padding: 2rem;
 }
 .coverContainer div:nth-of-type(4) {
    width: 100%;
    grid-column-start: 1 ;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    background-color: #FD5A23;
    text-align: center;
 }
 .coverContainer a{
    color: #070707;
 }
 .link-to-page:hover a {
  
    color: #5af6a3;
    font-family:'UnifrakturMaguntia', cursive;
    transition: .2s ease-in;
    text-transform: capitalize;
 }
 .cover {
    padding: 0;
 }
 
